@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 768px)
   {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop@2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* --------------Header------------- */
  .header {
    padding-bottom: 24px;
  }
  .auth-nav {
    display: flex;
    gap: 40px;
  }
  .auth-nav .link {
    font-weight: 400;
    font-size: 16px;
  }
  /* ----------------------Hero---------------------- */
  .hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;}

  .hero-title {
    margin-bottom: 48px;
  }
  /* --------------------Our advantages------------------ */
  .advantages-item .section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  }
  .advantages-item .section-discription {
    font-weight: 400;
    color: var(--primary-text-color);
  }
  .section-advantages {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-item {
    width: 264px;
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages-icon {
    height: 112px;
    margin-bottom: 8px;
    background: var(--primary-bc-icon-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-open-button {
    display: none;
  }
  /* -------------------Our works---------------- */
  .works {
    padding-bottom: 120px;
    display: flex;
  }
  .works-list {
    display: flex;
    gap: var(--gap);
  }
  /* --------------------Our team--------------- */
  .teams-cards {
    flex-wrap: nowrap;
  }
  .team-card {
    text-align: center;
  }
  .team-bc-color > .container {
    padding: 0;
  }

  /* --------------------Customers---------------- */
  .customers-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .customers-list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .customers-items {
    flex-basis: calc((100% - 24px) / 4);

    height: 88px;
  }
  /* --------------------------Footer------------------ */

  .footer > .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .webstudio-blocks {
    gap: 0;
    padding-left: 0;
    flex-wrap: nowrap;
  }
  .footer-subscribe {
    margin-top: 0px;
    
  }
  .footer-social {
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-logo-wrap {
    width: 264px;
    flex-shrink: 0;
  }
  /* ------------------------Portfolio------------------------- */
  .portfolio-link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-link:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  /* ----------------Portfolio Filters------------ */
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .portfolio-btn-filters {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .site-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

    margin-top: 72px;
  }
  .portfolio-card {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border: 1px solid var(--header-border-color);
    border-top: none;
  }
  .portfolio-card .section-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  /* -------------Portfolio Cards-top-text--------- */
  .portfolio-card-item {
    width: 360px;
  }
  .portfolio-top-text {
    position: relative;
    overflow: hidden;
  }
  .portfolio-card-top-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: justify;

    font-weight: 400;
    font-size: 16px;
    color: var(--portfolio-top-text);
    background-color: var(--portfolio-top-bc-color);
  }
  .portfolio-card-item:hover .portfolio-card-top-text {
    transform: translateY(0);
  }
  .button.primary {
    padding: 12px 24px;
    color: var(--accent-color);
    background-color: var(--logo-part-color);
  }
  .button.primary:hover, .button.primary:focus {
    color: var(--main-heading-color);
    background-color: var(--hover-current-color);

  }
  .portfolio-link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);}

  /* ----------------Form-modal-backdrop---------------- */

  /* ----------------------------Backdrop----------------------- */
  .modal {
    width: 408px;
    min-height: 584px;
  }
  .modal-title {
    font-weight: 500;
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .input-text {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--modal-label-text-color);
    margin-bottom: 4px;
  }

  .input-wrap {
    display: block;
    position: relative;
  }
  .modal-input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 8px 38px;
    margin-bottom: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input:hover,
  .modal-input:focus {
    border: 1px solid #4d5ae5;
  }

  .modal-input:hover + .modal-icon,
  .modal-input:focus + .modal-icon {
    fill: var(--accent-color);
  }

  .modal-icon {
    position: absolute;
    left: 0;
    top: 0;
    fill: var(--fokus-color);
    margin-left: 16px;
    margin-top: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    background-color: transparent;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .textarea:hover,
  .textarea:focus {
    border: 1px solid var(--accent-color);
  }

  .check-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--chek-text-color);
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 16px;
  }

  .check-text span {
    width: 16px;
    height: 16px;
    border: 1.25px solid #2e2f42;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }

  .input-check:checked + .check-text > span {
    background-color: var(--hover-current-color);
    border: 1.25px solid #404bbf;
    border-radius: 2px;
    fill: var(--primary-bc-icon-color);
  }

  .input-check:focus + .check-text > span {
    border-color: var(--hover-current-color);
    fill: var(--primary-bc-icon-color);
  }

  .form-check-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    margin-left: 4px;
  }
  .submit-modal-btn {
    display: block;
    margin: 0 auto;
    width: 169px;
    height: 56px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--footer-discription-color);
    margin-top: 24px;
    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .submit-modal-btn:hover,
  .submit-modal-btn:focus {
    background-color: var(--hover-current-color);
  }
}
}
