@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet@2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .team-card .section-subtitle {
    text-align: center;
  }
  /* ----------------Header------------- */
  .header {
    padding-bottom: 10px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-list,
  .header-link {
    display: flex;
    gap: 40px;
  }
  .address {
    margin-left: auto;
  }
  .auth-nav {
    display: block;
    margin-left: auto;
  }
  .auth-nav .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
  .header-link {
    position: relative;
  }
  .header-link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -24px;
    left: 0;
    position: absolute;
    background: #404bbf;
    border-radius: 2px;
  }

  .site-nav .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover {
    color: var(--hover-current-color);
  }
  .site-nav .link:focus {
    color: var(--hover-current-color);
  }
  .site-nav .link.current {
    color: var(--hover-current-color);
  }
  .auth-nav .link {
    color: var(--primary-text-color);
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav .link:hover {
    color: var(--hover-current-color);
  }
  .auth-nav .link:focus {
    color: var(--hover-current-color);
  }

  /* -----------------Hero-------------- */

  .hero-title {
    margin-bottom: 40px;
    font-size: 56px;
    max-width: 496px;
  }

  .menu-open-btn {
    display: none;
  }
  /* --------------Our advantages----------- */
  .advantages-item {
    width: 356px;
  }

  .section-advantages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }
  .advantages-item .section-subtitle {
    text-align: left;
  }

  /* -----------------Works------------------- */
  .works {
    display: none;
  }
  /* ------------------Our Team--------------- */
  /* .team-card {
    flex-basis: calc((100% - 24px) / 3);
  } */
  .team-card {
    margin: 0;
  }
  .team-bc-color > .container {
    padding-top: 96px;
    padding-left: 108px;
  }
  .teams-cards {
    gap: 64px 24px;
  }
  /* ----------------Customers------------- */
  .customers-list {
    gap: 72px 24px;
  }
  .customers-items {
    width: 168px;
    flex-basis: auto;
  }
  /* --------------------Footer------------------ */

  .footer {
    text-align: left;
  }
  .webstudio-blocks {
    gap: 24px;
    padding-left: 108px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer-subscribe {
    margin-top: 72px;
  }
  .logo-footer .logo-part-footer {
    text-align: left;
  }
  .footer-form {
    flex-direction: row;
    align-items: baseline;
    margin-left: 0 auto;
  }
  .footer-form-input {
    width: 264px;
  }
  .footer-form-button {
    margin-left: 24px;
  }
  /* --------------------------Backdrop----------------- */
  .modal {
    width: 408px;
    min-height: 586px;
  }
}
